@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Tinos", serif;
}

@font-face {
  font-family: "Merriweather";
  src: url(../Fonts/Merriweather_48pt-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Medium.ttf);
}
header {
  color: whitesmoke;
  height: 100vh;
  width: 100%;
  background: url(../img/headerbj.jpg) center/cover no-repeat;
  text-align: center;
}
@media screen and (max-width: 768px) {
  header {
    overflow-x: hidden;
  }
}
header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(102, 205, 170);
  padding: 10px;
}
@media screen and (max-width: 768px) {
  header .navbar {
    display: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}
header .navbar .navbar-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}
@media screen and (max-width: 968px) {
  header .navbar .navbar-left ul {
    border: none;
  }
}
header .navbar .navbar-left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
  border: none;
}
header .navbar .navbar-left ul li a {
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid rgb(0, 0, 139);
  padding: 10px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .navbar .navbar-left ul li a:hover {
  background: whitesmoke;
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px dashed blue;
}
header .navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .navbar .navbar-right li {
  margin: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .navbar .navbar-right li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
header .navbar .navbar-right li a {
  color: whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .navbar .navbar-right li a:hover {
  color: rgb(0, 166, 255);
}
header .about {
  margin-top: 200px;
}
header .about h1 {
  font-size: 3rem;
  margin: 20px;
}
header .about button {
  padding: 10px;
  background: rgba(0, 0, 0, 0.716);
  border: 2px solid black;
  color: whitesmoke;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .about button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  header .about button {
    display: block;
    margin: 20px auto;
  }
}

.panswer {
  color: whitesmoke;
  font-size: 1.75rem;
  letter-spacing: 5px;
  font-family: "Merriweather", cursive;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .panswer {
    font-size: 0.75rem;
    max-width: 400px;
    min-height: 500px;
  }
}

.projects {
  height: 500px;
  text-align: center;
  background-color: rgb(255, 233, 124);
  font-size: 2rem;
}
.projects h1 {
  color: black;
}
.projects h3 {
  font-size: 3rem;
  margin-top: 20px;
  color: black;
}
.projects h3 #target {
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
.projects h3 #target::after {
  content: "";
  position: absolute;
  background: salmon;
  height: 3rem;
  width: 3px;
  top: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-animation: anim 0.8s linear infinite;
          animation: anim 0.8s linear infinite;
}
@-webkit-keyframes anim {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.projects .container {
  background: rgb(0, 0, 0);
  margin-top: 20px;
  height: 180px;
}
.projects .container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 30px;
}
.projects .container ul li a {
  color: whitesmoke;
  text-decoration: none;
  background: salmon;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

.Skills h3 {
  font-size: 2rem;
  text-align: center;
}

.sprache {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  background: salmon;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 4px 20px 5px;
          box-shadow: -1px 4px 20px 5px;
}/*# sourceMappingURL=index.css.map */