*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Tinos", serif;
}
@font-face {
    font-family: "Merriweather";
    src: url(../Fonts/Merriweather_48pt-Light.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins-Medium.ttf);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Falls du einen fixed Header hast */
}


