*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: "Merriweather";
    src: url(../../Fonts/Merriweather_48pt-Light.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../../Fonts/Poppins-Medium.ttf);
}

body{
    text-align: center;
    background: linear-gradient(to left, #000000,#ff3232b9);
    font-family: "Poppins";
    font-weight: 700;
}
