/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');



@import url("sections/header.css");
@import url("sections/home.css");
@import url("sections/switcher.css");
@import url("sections/aboutme.css");
@import url("sections/contact.css");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 165;
  --first-color: hsl(var(--hue), 60%, 40%);
  --title-color: hsl(var(--hue), 4%, 12%);
  --text-color: hsl(var(--hue), 4%, 20%);
  --body-color: hsl(var(--hue), 30%, 92%);
  --container-color: hsl(0, 0%, 100%);
  --border-color: hsl(var(--hue), 4%, 16%);
  --white-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 80%, 10%, 0.2);

  /*========== Font family ==========*/
  --body-font: 'Varela Round', sans-serif;
  --p-font: 'Cormorant', sans-serif;

  /*========== Font sizes ==========*/
  --big-font-size: 5.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.8125rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 800;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

/*=============== DARK THEME ===============*/
.dark{
  --title-color: hsl(0,0%,100%);
  --text-color: hsl(0, 0%, 92%);
  --body-color: hsl(var(--hue), 10%, 8%);
  --container-color: hsl(var(--hue), 10%, 16%);
  --border-color: hsl(var(--hue), 4%, 16%);
  --shadow-color: hsla(var(--hue), 0%, 100%, 0.2);
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
   border: 2px solid var(--first-color);
  outline: none;
  background-color: transparent;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.social-links{
  display: inline-flex;
  column-gap: 1.25rem;
}
.social-link{
  color: var(--title-color);
  font-size: var(--h3-font-size);
  transition: color 0.7s var(--transition);

}
.social-link:hover{
  color: var(--first-color);
}

.section{
  padding-block: 7rem;
}

/*=============== LAYOUT ===============*/
.container{
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1300px) {
  body{
    overflow-x: hidden;
  }
  .container-aboutme{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .card{
    margin: 0 auto;
  }
  .message-container{
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  #message{
    margin-top: 40px;
    height: 200px;
    width: 400px;
  }
  .home-profile{
    display: none;
  }
  .home-img-wrapper{
display: none;
  }
  .home-data{
    display: none;
  } 
}

@media screen and (max-width: 1050px) {
.home-subtitle{
    font-size: 1.2rem;
  }
.home-title{
    font-size: 1.2rem;
  }
  .home-description{
    max-width: 500px;
  }
  .me-section{
    display: block;
  }
  .message-container{
    grid-template-columns: 1fr ;
  }
  .contact h1{
    font-size: 1rem;
  }
  .home-container{
  padding-block: 0;
}
}
/* Footer */
footer {
  background-color: #343a40;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: var(--first-color);
  text-decoration: underline;
}

.footer-conatiner{
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 40px;
grid-row-gap: 0px;
}
.footer-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-card h4{
  color: var(--first-color);
  margin: 30px 0;
}
.footer-copyright{
  text-align: center;
  margin-top: 20px;
  color: var(--white-color);
}
/* For medium devices */

@media screen and (max-width: 768px) {
  .me-container-part2{
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 50px;
grid-row-gap: 44px;
  }
}
.Linkhub{
  margin: 0 auto;
}
  .me-title{
    font-size: 0.8rem;
  }
  .p-me{
    font-size: 0.8rem;
  }


@media screen and (max-width: 576px) {
  
}

/* For small devices */
@media screen and (max-width: 400px) {
}
